* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background: #eee;
  /* margin: auto; */
  overflow: hidden;
}

.card{
  position: absolute;
  width: 35%;
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab{
  overflow: visible;
  margin-top: -10;
  height: 40%;
}
